*{
    Margin :0;
    padding: 0;
    list-style: none;
}
main {
    background-color: #3A3D3D;
    width: 625px;
    margin: auto;
    padding: 15px 20px 10px 20px;
  

}
nav{
    background-color: #FDED07;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  main article{
      margin:0px 2px 0px 2px;
      width: 200px;
      height: 200px;
      background-color: #1C63C7;
      display: inline-block;

  }
  main article ol{
    width: 200px;
    height: 200px;
    background-color: #3AE264;
    display: inline-block;
    border-radius:50%;
  }
  
  main section{
    margin: 2px 4px 2px 4px;
    width: 250px;
    height: 250px;
    background-color: #F70202;
    display: inline-block;
    
  }
main section aside{
    
    width: 250px;
    height: 250px;
    background-color: #0FAEEC;
    display: inline-block;
    border-radius:50%;
    
  }
  main footer{
      margin: 15px 50px ;
      
  }
main aside{
    width: 565px;
    height: 300px;
    background-color: yellow
}
main aside li{
margin: 17px;
width: 150px;
height: 265px;
background-color: orangered;
display: inline-block;

}
 main aside li nav{
margin:15px 31px;
width: 85px;
height: 70px;
background-color: black;

 }
 main aside li div{
margin:9px 10px 0px 25px;
width: 100px;
height: 250px; ;
border-radius: 50px;
background-color: violet;
 }  
 main aside li footer{
  margin: 15px 0px 10px 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: purple;
 }

 .Pagina2{
margin: 20px;
width: 800px;
height: 800px;
background-color: gray;
 }

.Pagina2 article{
    margin: 15px 15px 0px 25px;
    width: 350px;
    
    display: inline-block;
    background-color: cadetblue;
}

.Pagina2 article nav{
 margin: 15px ;
width: 140px;
height: 140px;
 border-radius: 50%;
background-color: black;
display: inline-block;
}

.Pagina2 footer{
    margin: 20px 0px 10px 150px;
    width: 500px;
    height: 250px;
    background-color:cadetblue;
}
.Pagina2 footer div:first-child{
    margin-left: 70px;
}
.Pagina2 footer div{
    margin-top: 60px;
    width: 180px;
    height: 180px;
     border-radius: 50%;
    background-color: yellow;
    display: inline-block;
}

.Pagina2 aside {
    margin: -3px 20px;
width: 150px;
height: 120px; 
background-color: cadetblue;
display: inline-block;

}

.Pagina2 aside article{
    margin: 5px 0px 0px 30px;
    width: 80px;
    height: 110px;
    border-radius: 50px;
    background-color: black
}

.Pagina2 aside nav{
    margin: 6px;
    padding: 0px;
    width: 55px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}
.pagina3{
    background-color: gray;
    width: 780px;
    height: 950px;
    margin: 10px auto;
  }
  .pagina3 main{
    background-color: blue;
    width: 325px;
    height: 250px;
    display:inline-block;
    margin: 15px;
    padding: 15px;
  }
  .pagina3 main article{
    background-color:yellow;
    width: 305px;
    height: 235px;
    display:inline-block;
    padding: 15px 0px 0px 15px;
  }
  .pagina3 main article footer{
    margin: -1px;
    background-color: pink;
    width: 290px;
    height: 220px;
    display:inline-block;
    vertical-align: top;
  }
  .pagina3 main article footer li{
    background-color: black;
    width: 74px;
    height: 74px;
    display:inline-block;
    margin: 20px 10px 10px 10px;
    border-radius:50%; 
    list-style: none;
  }
  .pagina3 main article footer a{
    background-color: black;
    width: 65px;
    height: 65px;
    display:inline-block;
    margin: 10px 15px 15px 13px;
    list-style: none;
  }
  .pagina3 aside{
    background-color:blue;
    width: 705px;
    height: 250px;
    display:inline-block;
    margin: 15px;
    padding: 20px;
  }  
  .pagina3 aside article{
    background-color: yellow;
    width: 685px;
    height: 230px;
    display:inline-block;
    padding: 20px 0px 0px 20px;
  }
  .pagina3 aside article h1{
    background-color: pink;
    width: 230px;
    height: 190px;
    display:inline-block;
    padding: 20px 0px 0px 20px;
    vertical-align: top;
  }
  .pagina3 aside article h2{
    background-color: pink;
    width: 185px;
    height: 190px;
    display:inline-block;
    padding: 20px 0px 0px 20px;
    margin: 0 0 0 20px;
    vertical-align: top;
  }
  .pagina3 aside article h3{
    background-color: pink;
    width: 140px;
    height: 190px;
    display:inline-block;
    padding: 20px 0px 0px 20px;
    margin: 0 0 0 20px;
    vertical-align: top;
  }
  .pagina3 aside article h1 div{
    background-color: black;
    width: 85px;
    height: 165px;
    display:inline-block;
    border-radius: 60%;
    padding: 10px 3px 10px 15px;
  }
  .pagina3 aside article h2 nav{
    background-color: black;
    width: 145px;
    height: 65px;
    border-radius: 60%;
    padding: 20px 15px 5px 15px;
    margin: 0 0 5px 0;
  }
  .pagina3 aside article h3 li{
    background-color: black;
    width: 80px;
    height: 80px;
    display:inline-block;
    margin: 2px 15px 15px 25px;
    border-radius:50%; 
    list-style: none;
  }
  .pagina3 aside article section{
    background-color:  pink;
    width: 625px;
    height: 170px;
    padding: 20px;
  }
  .pagina3 aside article section footer{
    background-color: burlywood;
    width: 585px;
    height: 130px;
    padding: 20px;
  }
  
  .pagina3 aside article section footer li{
    background-color: black;
    width: 100px;
    height: 100px;
    display:inline-block;
    margin: 15px 6px;
    border-radius:50%; 
    list-style: none;
  }

  .pagina4{
    background-color: black;
    height: 950px;
    width: 850px;
    
    margin: 10px auto;
  }
  .pagina4 aside{
    background-color: gray;
    width: 120px;
    height: 220px;
    margin: 15px 0 0 15px;
    display:inline-block;
    }
    .pagina4 aside div{
        background-color: white;
        width: 75px;
        height: 75px;
        margin: 15px 10px 40px 23px;
        border-radius:50%; 
      }

      .pagina4 aside nav{
        background-color: white;
        width: 90px;
        height: 200px;
        margin: 12px 12px 12px 15px;
        border-radius:50%; 
      }
      .pagina4 ul{
        background-color: gray;
        width: 80px;
        height: 220px;
        margin: 15px 0 0 15px;
        display:inline-block;
       }
       .pagina4 article{
        background-color: gray;
        width: 260px;
        height: 220px;
        margin: 15px 0 0 15px;
        display:inline-block;
        vertical-align: top;
      }
      .pagina4 article footer{
        background-color: #5D6D7E;
        width: 230px;
        height: 50px;
        margin: 15px 0 0 15px;
        padding: 1px 0 0 0;
      }

      .pagina4 article footer nav{
        background-color: white;
        width: 210px;
        height: 30px;
        margin: 10px 0 0 10px;
        border-radius:50%;
      }
      .pagina4 article aside{
        background-color: #5D6D7E;
        width: 105px;
        height: 130px;
        margin: 12px 0 0 15px;
      }
      .pagina4 article aside nav{
        background-color: white;
        width: 60px;
        height: 120px;
        margin: 5px 0 0 20px;
      }
      .pagina4 article aside div{
        background-color: white;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 7px 0 0 25px;
      }
      .pagina4 section{
        background-color: gray;
        width: 495px;
        height: 220px;
        margin: 15px 0 0 15px;
        display:inline-block;
      }
      .pagina4 section article{
        background-color: #5D6D7E;
        width: 465px;
        height: 190px;
        margin: 15px 0 0 15px;
      }
      .pagina4 section article main{
        background-color: #212F3C;
        width: 395px;
        height: 120px;
        margin: 15px 0 0 15px;
      }
      .pagina4 section article main li{
        background-color: #707B7C;
        width: 115px;
        height: 120px;
        margin: 0 10px 0 4px;
        display: inline-block;
        list-style: none;
      }
      
      .pagina4 section article main li div{
        background-color:white;
        width: 80px;
        height: 80px;
        margin: 20px 0 0 17px;
        border-radius: 50px;
      }

      .pagina4 footer{
        background-color: gray;
        width: 220px;
        height: 220px;
        display:inline-block;
        margin: 20px 20px 0px 18px;
        vertical-align: top;
      }
      .pagina4 nav{
        background-color:gray;
        width: 280px;
        height: 220px;
        display:inline-block;
        margin: 20px 0px 0px 5px;
      }
      .pagina4 footer section{
        background-color: #5D6D7E;
        width: 190px;
        height: 190px;
        
      }
      .pagina4 footer section nav{
        background-color: white;
        width: 170px;
        height: 170px;
        margin: 13px 0 0 10px;
        border-radius: 97px;    
      }
.pagina4 nav ul{
    background-color: #5D6D7E;
    width: 250px;
    height: 200px;
    margin: 10px 10px;
}

     .pagina4 nav ul article{
        background-color:  #707B7C;
        margin: 90px 0px 0px 0px;
        width: 200px;
        height: 100px;
     }
     .pagina4 nav ul div{
        background-color:white;
        width: 210px;
        height: 50px;
        margin: 10px 0px -60px 22px;
        border-radius: 50%;
     }
      .pagina4 nav ul article aside{
        background-color: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px 0 0 5px;
      }
      .pagina4 footer div{
        background-color: #5D6D7E;
        width: 198px;
        height: 200px;
        margin: 10px 10px;
      }

.pagina4 footer div nav {
    background-color: #707B7C;
    margin: 10px 10px 10px 12px;
    width: 171px;
    height: 100px;

}
.pagina4 footer div nav ul{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 0 0 5px;
}
.pagina4 footer div aside{
    background-color: white;
    width: 185px;
    height: 50px;
    margin: 109px 0px -176px 7px;
    border-radius: 50%; 
}

.pagina4 h3{
    background-color: gray;
    width: 776px;
    height: 200px;
    margin: 15px 0 0 15px;
}

.pagina4 h3 article{
    background-color: #212F3C;
    width: 127px;
    height: 165px;
    margin: 20px 10px 0 12px;
    display: inline-block;
    list-style: none;
}
  .pagina4 h3 article div{
    background-color: white;
    width: 97px;
    height: 97px;
    margin: 30px 0px 0px 15px;
    border-radius: 50px;
  }  
 .pagina4 h3 article nav{
    background-color: white;
    width: 115px;
    height: 40px;
    margin: 25px 0px 0px 7px;
    border-radius: 50%;
 }
 .pagina5{
  background-color: #A7C7E7;
  width: 800px;
  height: 970px;
  margin: 15px auto;

}
.pagina5 main{
  background-color:#082830;
  width: 230px;
  height: 700px;
  margin: 20px -4px 0 20px;
  display: inline-block;
  padding:  0px;
  vertical-align: top;
}
.pagina5 main article{
  width: 90px;
  background-color: gray;
  height: 150px;
  margin: 20px -4px 0 20px;
  display: inline-block; 
  vertical-align: top;
}
.pagina5 main div{
  width: 80px;
  background-color: gray;
  height: 150px;
  margin: 20px -4px 0 20px;
  display: inline-block; 
  vertical-align: top;
}
.pagina5 main article li{
  background-color: black;
  width: 55px;
  height: 55px;
  margin: 13px 0px 0 18px;
  border-radius: 50%;
  list-style: none;
}

.pagina5 main div nav{
  background-color: black;
  width: 60px;
  height: 120px;
  margin: 15px 0px 0 10px;
  border-radius: 50%;
  list-style: none;
}
.pagina5 main aside{
  background-color: gray;
  width: 190px;
  height: 90px;
  margin: 20px 0px 0 20px;
}
.pagina5 main aside li{
  background-color: black;
  width: 60px;
  height: 60px;
  margin: 15px 0px 0 21px;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
}
.pagina5 main div a{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 15px 0px 0 15px;
  border-radius: 50%;
  display: inline-block;
}

.pagina5 main ul{
  background-color: gray;
  width: 190px;
  height: 210px;
  margin: 20px 0px 0 20px;
}
.pagina5 main ul li{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 10px 0px 0 30px;
  border-radius: 50%;
  list-style: none;
  display:inline-block;
}
.pagina5 main ul nav{
   background-color: black;
  width: 50px;
  height: 40px;
  margin: 10px 0 0 70px;
  display:inline-block;
}
.pagina5 main ul div{
  background-color: black;
 width: 120px;
 height: 60px;
 margin: 10px 0 0 35px;
 display:inline-block;
}
.pagina5 footer{
  background-color:#082830; 
  width: 260px;
  height: 700px;
  margin: 20px -4px 0 20px;
  display: inline-block;
  padding:  0px;
  vertical-align: top;
}
.pagina5 footer ul{
  background-color: gray;
  width: 220px;
  height: 210px;
  margin: 20px 0px 0 20px;
}
.pagina5 footer ul li{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 10px 0px 0 40px;
  border-radius: 50%;
  list-style: none;
  display:inline-block;
}
.pagina5 footer ul nav{
   background-color: black;
  width: 40px;
  height: 50px;
  margin: 10px 0 0 90px;
  display:inline-block;
}
.pagina5 footer ul div{
  background-color: black;
 width: 150px;
 height: 60px;
 margin: 5px 0 0 35px;
 display:inline-block;
}
.pagina5 footer article{
  background-color: gray;
  width: 100px;
  height: 180px;
  margin: 20px -4px 0 20px;
display: inline-block;
}
.pagina5 footer article p{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 13px 0px 0 15px;
  border-radius: 50%;
}
.pagina5 footer aside{
  background-color: gray;
  width: 220px;
  height: 100px;
  margin: 16px 0px 0 20px;
}
.pagina5 footer aside li{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 15px 0px 0 25px;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
}
.pagina5 footer ol{
  background-color: gray;
  width: 100px;
  height: 110px;
  margin: 20px -4px 0 20px;
  display:inline-block;
}
.pagina5 footer ol div{
  background-color: black;
  width: 70px;
  height: 100px;
  border-radius: 80%;
  margin: 5px 0 0 13px;
}
.pagina5 main h1{
  background-color:gray;
  width: 90px;
  height: 90px;
  margin: 20px -4px 0 20px;
  display: inline-block;
}
.pagina5 main h2{
  background-color: gray;
  width: 80px;
  height: 90px;
  margin: 20px 0 0 20px;
  display: inline-block;
}
.pagina5 main h1 ol,.pagina5 main h2 ol{
  background-color: black;
  border-radius: 60%;
  margin: 10px 0 0 10px;
}
.pagina5 main h1 ol{
width: 70px;
height: 70px;
}
.pagina5 main h2 ol{
  width: 60px;
  height: 70px;
}
.pagina5 main h3{
  background-color: gray;
  width: 190px;
  height: 130px;
  margin: 15px 0 0 20px;
}
.pagina5 main h3 ul{
  background-color: black;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 8px 0px 0 30px;
}
.pagina5 main h4{
  background-color: gray;
  width: 190px;
  height: 170px;
  margin: 20px 0 0 20px;
  padding: 5px 0 0 0;
}
.pagina5 main h4 nav{
  background-color: black;
  width: 150px;
  height: 69px;
  margin: 10px 0 0 20px;
  padding: 1px 0 0 0;
}
.pagina5 main h4 div{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 10px 0 0 60px;
  border-radius: 50%;
}
.pagina5 main h4 nav p{
  background-color:#93B5CC ;
  width: 110px;
  height: 50px;
  border-radius: 60%;
  margin: 10px 0 0 20px;
}
.pagina5 main h5,.pagina5 main h6{
  background-color:gray;
  height: 207px;
  display: inline-block;
  vertical-align: top;
}
.pagina5 main h5{
  width: 90px;
  margin: 20px -4px 0 20px;

}.pagina5 main h6{
  width: 80px;
  margin: 20px 0 0 20px;
}
.pagina5 main h5 li{
  background-color: black;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 7px 0 0 15px;
}
.pagina5 aside{
  background-color:#082830;
  width: 760px;
  height: 210px;
  margin: 20px 0 0 20px;
}
.pagina5 aside article{
  background-color: gray;
  width: 190px;
  height: 170px;
  margin: 20px -4px 0 20px;
  display:inline-block;
}
.pagina5 aside article li{
  list-style: none;
  background-color: black;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 15px 0 0 25px;
}
.pagina5 aside article p{
  background-color: black;
  width: 140px;
  height: 60px;
  border-radius: 50%;
  margin: 15px 0 0 25px;
}
.pagina5 aside section{
  background-color: gray;
  width: 300px;
  height: 170px;
  margin: 20px -4px 0 20px;
  display:inline-block;
  vertical-align: top;
}
.pagina5 aside section li{
  background-color: #93B5CC;
  width: 260px;
  height: 130px;
  margin: 20px 0px 0 20px;
  display:inline-block;
}
.pagina5 aside section li p{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 30px 0 0 10px;
  border-radius: 50%;
  display: inline-block;
}

.pagina6 {
  background-color: #1D1A1A;
  width: 940px;
  height: 1040px;
  margin: auto;
}
.pagina6 article{
  background-color: #D41E1E;
  width: 180px;
  height: 180px;
  display: inline-block;
  margin: 20px -4px 0 20px;
  vertical-align: top;
}
.pagina6 article p{
  background-color:#1317EB;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  margin: 20px -20px 0 20px;
}
.pagina6 article li{
  background-color:gray;
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 20px -20px 0 20px;
}
.pagina6 footer{
  background-color: #D41E1E;
  width: 500px;
  height: 180px;
  display: inline-block;
  margin: 20px 0px 0 20px;
}
.pagina6 footer aside{
  background-color: gray;
  width: 140px;
  height: 140px;
  display: inline-block;
  margin: 20px -4px 0 20px;
}
.pagina6 footer aside p{
  background-color: #1317EB;
  width: 100px;
  height: 100px;
  margin: 20px 0px 0 20px;
  border-radius: 50%;
}
.pagina6 h1{
  background-color: #D41E1E;
  width: 180px;
  height: 340px;
  display: inline-block;
  margin: 20px -4px 0 20px;
  vertical-align: top;
}
.pagina6 h1 nav{
  background-color: gray;
  width: 140px;
  height: 300px;
  margin: 20px 0px 0 20px;
  display: inline-block;
}
.pagina6 h1 nav p{
  background-color: #1317EB;
  width: 110px;
  height: 110px;
  margin: 25px 0px 0 15px;
  border-radius: 50%;
}
.pagina6 h1 div{
  background-color:gray;
  width: 140px;
  height: 90px;
  margin: 20px 0px 0 20px;
  padding: 5px 0 0 0;
}
.pagina6 h1 aside{
  background-color:gray;
  width: 140px;
  height: 180px;
  margin: 20px 0px 0 20px;
  padding: 5px 0 0 0;
}
.pagina6 h1 div ul{
  background-color: #1317EB;
  width: 80px;
  height: 80px;
  margin: 4px 0px 0 30px;
  border-radius: 50%;
}
.pagina6 h1 aside ul{
  background-color: #1317EB;
  width: 80px;
  height: 80px;
  margin: 5px 0px 0 30px;
  border-radius: 50%;
}

.pagina6 h3{
  background-color: #D41E1E;
  width: 300px;
  height: 340px;
  display: inline-block;
  margin: 20px -4px 0 20px;
  vertical-align: top;
}
.pagina6 h3 p{
  background-color: #1317EB;
  width: 260px;
  height: 260px;
  margin: 40px 0px 0 20px;
  border-radius: 50%;
}
.pagina6 h1 article{
  background-color:#1317EB;
  width: 90px;
  height: 90px;
  margin: 20px 0px 0 40px;
  border-radius: 50%;
}
.pagina6 h1 section{
  background-color: #1317EB;
  width: 150px;
  height: 80px;
  margin: 20px 0px 0 10px;
  border-radius: 60%;
}


.pagina6 h6{
  background-color:rgba(93, 149, 155, 0.41);
  width: 900px;
  height: 440px;
  margin: 20px 0px 0 20px;
}
.pagina6 h6 article{
  background-color: #D41E1E;
  width: 200px;
  height: 180px;
  display: inline-block;
  margin: 20px -4px 0 20px;
  vertical-align: top;
}
.pagina6 h6 article li{
  background-color: gray;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 15px -20px 0 20px;
}
.pagina6 h6 article div{
  background-color: #1317EB;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 50px;
  border-radius: 50%;
}

.pagina6 h6 nav{
  background-color: #D41E1E;
  width: 420px;
  height: 200px;
  display: inline-block;
  margin: 20px -4px 0 20px;
  vertical-align: top;
}
.pagina6 h6 nav aside{
  background-color: gray;
  width: 380px;
  height: 160px;
  margin: 20px 0px 0 20px;
  vertical-align: top;
}
.pagina6 h6 nav aside li{
  background-color:#1317EB;
  width: 100px;
  height: 100px;
  margin: 30px 0px 0 10px;
  display: inline-block;
  border-radius: 50%;
}

